.topCoinsWrapper {
  max-width: 1140px;
  width: 100%;
  padding: 0 0.5rem;
  margin: 1rem auto;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 1rem;
  background-color: var(--color-bg-primary);
}

.topCoinsContainer {
  max-width: 1140px;
  width: 100%;
  padding: 0 0.5rem;
  margin: 1rem auto;
}

.serchWrapper{
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  text-align: center;
}

.searchTitle{
  font-size: 1.5rem;
}

.searchInput{
  width: 100%;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-bg-input);
  border-radius: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
}

.topCoinsTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.tHeadR th {
  border-bottom: 1px solid var(--color-bg-secondary);
  padding: 1rem 0;
}

.thNum {
  padding: 0 1rem;
}

.thCoin {
  text-align: left;
}

.hiddenOnSmall {
  display: none;
}

.hiddenOnMid {
  display: none;
}

.seeAllBtn {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.seeAllBtn button {
  background-color: var(--color-bg-button);
  color: var(--color-bg-secondary);
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.seeAllBtn button:hover {
  color: white;
  scale: 1.01;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  -webkit-box-shadow: 0px 2px 2px 0px var(--color-shadow); 
  -moz-box-shadow: 0px 2px 2px 0px var(--color-shadow); 
  box-shadow: 0px 2px 2px 0px var(--color-shadow); 
}

@media (min-width: 768px) {
  .searchWrapper {
    flex-direction: row;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .hiddenOnSmall {
    display: table-cell;
  }
}

@media (min-width: 1024px) {
  .hiddenOnMid {
    display: table-cell;
  }
}