* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

input {
  outline: none;
}

:root {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.dark {
  --color-bg-primary: #252525;
  --color-bg-secondary: #323232;
  --color-bg-secondary: #3b403e;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
  --color-bg-input: #4a5361;
  --color-bg-button: #81e6d9;
  --color-shadow: #14141467;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #2b6cb0;
  --color-shadow: #77777737;
}

